.lesson{
    margin-left: 7rem;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 2.75rem;
    margin-bottom: 3rem;
}
.lesson-level{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 0.5rem;
}
.lesson-level h4{
    font-size: 1rem;
    margin: 0;
    color: #000000;
}
.lesson-level div{
    height: 0.25rem;
    background-color: #00b2ff;
    width: 8.44rem;
}
.lesson-description{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.lesson-description h2{
    margin: 0;
    font-size: 2rem;
}

.lesson-description p{
    margin: 0;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.lesson-description span{
    align-self: flex-end;
}
.lesson-description span a{
    align-self: end;
    color: #d10000;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (max-width: 700px) {
    .lesson{
        margin-left: 0rem;
        flex-direction: column;
    }
    .lesson-header h1{
        font-size: 2.5rem;
    }
    .lesson-header{
        gap: 1rem;
    }
    .lesson-level{
        align-items: start;
    }
    .lesson-description{
        width: auto;
    }
    .lesson-description h2{
        font-size: 1.5rem;
    }
    .lesson-description span{
        align-self: center;
    }
}