.error-modal{
    width: 30%;
    min-width: 20rem;
    top: 10vh;
    margin: auto;
    height: auto;
    max-height: 25vh;
    padding: 2rem;
    background: #ffffff;
}
.error-modal h2{
    margin: 0;
}

.controls{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.controls button{
    width: 7.56rem;
    height: 2.69rem;
    border-radius: 1.63rem;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}