.curriclum {
  max-width: 100vw;
  min-height: 31.25rem;
  height: auto;
  background-image: url("../../assets/curriculum.webp");
  background-size: cover;
  padding: 6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.curriclum h1 {
  font-size: 6rem;
  color: #ffffff;
  margin: 0;
}

.curriclum p {
  color: white;
  margin: none;
  font-size: 1.25rem;
  width: 50%;
}

@media screen and (max-width: 900px) {
  .curriclum {
    padding: 2rem;
    justify-content: center;
  }
  .curriclum h1 {
    font-size: 3rem;
    text-align: center;
  }
  .curriclum p{
    width: 100%;
    text-align: center;
  }
}
