.sideFilter{
    width: 25vw;
    background-color: #002473;
    color: #ffffff;
    height: 100%;
}

.topic-filter, .speaker-filter{
    padding: 2rem;
}

.topic-filter h3, .speaker-filter h3{
    font-size: 1.25rem;
}

.topic-filter div, .speaker-filter div{
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.topic-filter input, .speaker-filter input{
    padding-left: 2rem;
    height: 1.88rem;
    min-width: 10%;
    color: #002473;
}
.topic-filter label, .speaker-filter label{
    font-size: 1.25rem;
    align-self: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;   
    background-color: transparent;   
    border: 0.2rem solid #ffffff;   
    padding: 0.3rem;            
    width: 1.90rem;      
    height: 1.90rem;    
    cursor: pointer; 
}

input[type="checkbox"]:checked {
    background-color: transparent; 
    border: 0.2rem solid #ffffff;
}

input[type="checkbox"]:checked::before {
    content: '✓';             
    color: white;             
    font-size: 1.5rem;          
    display: block;
    text-align: center;
    line-height: 16px;        
}

@media screen and (max-width: 900px) {
    .sideFilter{
        width: 100vw;
    }
}