.sideFilter{
    width: 25vw;
    background-color: #002473;
    color: #ffffff;
    height: 100%;
    padding: 2rem;
}

.topic-filter, .speaker-filter{
    padding-top: 1rem;
}

.topic-filter h3, .speaker-filter h3{
    font-size: 1.25rem;
}

.topic-filter div, .speaker-filter div{
    display: flex;
    align-items: start;
    gap: 1rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.topic-filter input, .speaker-filter input{
    padding-left: 2rem;
    height: 1.88rem;
    color: #002473;
}
.topic-filter label, .speaker-filter label{
    font-size: 1.25rem;
    align-self: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;   
    background-color: transparent;   
    border: 0.2rem solid #ffffff;             
    width: 2rem;      
    height: 2rem;    
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: transparent; 
    border: 0.2rem solid #ffffff;
}

input[type="checkbox"]:checked::before {
    content: '✓';             
    color: white;             
    font-size: 1.5rem;          
    display: block;
    text-align: center;
    line-height: 2rem;
    position: absolute;        
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.arrow{
    width: 3rem;
    height: 3rem;
    margin-top: 0.5rem;
    align-self: center;
    cursor: pointer;
}
.sortHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    background-color: #002473;
    margin: 0;
}

.search-bar{
    display: flex;
    padding-top: 2.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.searchInput input{
    width: 65%;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 2.25rem;
    padding-left: 4rem;
    border: none;
    background-color: #ffffff;
    color: #000000;
}

.searchInput{
    position: relative;
    padding: 0 1rem;
    width: 100%;
    border: none;
}
.searchButton{
    position: absolute;
    background: none;
    border: none;
    left: 1.5rem;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.searchButton img{
    width: 1.8rem;
}
.clear-filters{
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    .sideFilter{
        width: 100vw;
    }
    .topic-filter input, .speaker-filter input{
        min-width: 1.9rem;;
        min-height: 1.9rem;
    }
}