#resources{
    padding: 0 4.5rem;
}

#resources h1{
    font-size: 3rem;
    margin: 4.8rem 0;
    text-align: center;
}

.paragraph{
    font-size: 1.25rem;
    margin: 4.8rem auto;
    text-align: center;
    width: 70%;
    margin-bottom: 4rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 3rem;
}
