.login-container{
    display: flex;
    flex-direction: column;
    padding: 7.25rem;
    justify-content: center;
    align-items: center;
}

.login-container h1{
    width: 70%;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 6rem;
}
.login-container form {
    display: flex;
    gap: 1.5rem;
    align-items: start;
    width: 27rem;
}
.inputs{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1.5rem;
}

.inputs p{
    text-align: center;
    margin-bottom: 5rem;
}

.login-container img{
    margin-top: 3rem;
    background-color: none;
    width: 4rem;
    font-size: 2rem;
}
.error{
    color: #d40000;
    margin: 1rem;
}

@media screen and (max-width: 900px) {
    .login-container{
        padding: 2rem;
    }
    .login-container h1{
        font-size: 1.75rem;
    }
    .login-container form{
        flex-direction: column;
        padding: 1rem;
        width: 90%;
    }
    .inputs{
        width: 100%;
    }
    .login-container img{
        justify-self: center;
        align-self: center;
    }
    .login-container p{
        margin-bottom: 0rem;
    }
}