.login-container{
    display: flex;
    flex-direction: column;
    padding: 7.25rem;
    justify-content: center;
    align-items: center;
}

.login-container h1{
    width: 70%;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 6rem;
}
.login-container form {
    flex-direction: column;
    padding-left: 5rem;
    width: 40%;
    display: flex;
    gap: 1.5rem;
}

.login-container p{
    width: 30%;
    text-align: center;
    margin-bottom: 7rem;
}

.login-container button{
    width: 50%;
    align-self: center;
    padding: 0.5rem 2rem;
    font-size: 2rem;
}

@media screen and (max-width: 900px) {
    .login-container{
        padding: 2rem;
    }
    .login h1{
        font-size: 1.75rem;
    }
    .login-container form{
        padding: 1rem;
        width: 80%;
    }
    .login-container p{
        width: 50%;
        margin-bottom: 7rem;
    }
}