.header{
    background-color: white;
    max-width: 100vw;
    height: 6rem;
    display: flex;
    align-items: center;
    padding: 0 3.5rem;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 0.13rem;
}

.logo a{
    font-weight: bold;
}


.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1.25rem;
}

.nav ul li{
    list-style-type: none;
}

.login-btn{
    width: 7.56rem;
    height: 2.69rem;
    border-radius: 1.63rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.loggedInAccount{
    background-color: #4ecf00;
    color: #000000
}

.notLoggedInAccount{
    background-color: #D10000;
    color: #ffffff;
}