.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 4.75rem;
}
.about h1 {
    font-size: 3rem;
    text-align: center;
}
.about-card{
    display: flex;
    gap: 2.5rem;
}
.about-image{
    width: 50%;
    height: 22rem;
    object-fit: cover;
}
.about-intro{
    width: 50%;
    display: flex;
    justify-content: start;
    font-size: 1.25rem;
    flex-direction: column;
    padding-top: 0;
}
.about-intro p{
    margin-top: 0;
}
.about-link{
    color: #d10000;
    text-decoration: underline;
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    .about{
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .about h1 {
        font-size: 2.25rem;
        padding: 0 2rem;
    }
    .about-card{
        flex-direction: column;
        width: 100%;
        padding: 1.25rem 0;
        justify-content: center;
        align-items: center;
    }
    .about-image{
        width: 100%;
    }
    .about-intro{
        width: 90%;
    }
}