#hero{
    height: 100vh;
    background-image: url('../../assets/hero.png');
    margin: none;
    display: flex;
    padding-left: 6.25rem;
    flex-direction: column;
}

#hero h1{
    color: white;
    padding-top: 7.25rem;
    width: 60%;
    font-size: 6rem;
    margin: 0;
}

#hero p{
    color: white;
    margin: none;
    font-size: 2rem;
    width: 40rem;
}

.access-btn{
    margin: 0 auto;
    width: 26.25rem;
    height: 9.13rem;
    font-size: 2rem;
    display: flex;

}
.image{
    background-color: #ffffff;
    color: #d10000;
}