#hero{
    height: 100vh;
    background-image: url('../../assets/hero.png');
    margin: none;
    display: flex;
    padding-left: 6.25rem;
    flex-direction: column;
}

#hero h1{
    color: white;
    padding-top: 7.25rem;
    width: 60%;
    font-size: 6rem;
    margin: 0;
}

#hero p{
    color: white;
    margin: none;
    font-size: 2rem;
    width: 40rem;
}
